body {
    margin: 0px
}

#canvas {
    display: block;
}

#editing {
    display: none;
    resize: none;
    position: absolute;
    accent-color: none;
    caret-color: yellow;
    color: white;
    background-color: black;
    border: 2px solid transparent;

}

#editing:hover {
    border-color: blue;
}