#test {
    background-color: blue;
    color: red;
    height: 100px;
    width: 300px;
    font-size: 40px;
    border-radius: 100px;
}

#Aero {
    background-color: darkgreen;
    height: 500px;
    width: 500px;
    border-radius: 100px;
}